@charset "UTF-8"; 

.tb_list_tr_img{ 
   background: url(/textbook-custom/image/wjx/red_bg.png)no-repeat left center; 
   margin-top: 40px; 
    margin-bottom: 40px; 
    font-size: 24px; 
    margin-left: 10px;
} 

.tb_list_tr{ 
    margin-bottom: 17%; 
    font-size: 23px; 
    line-height: 60px; 
}